body {
    background-color: #F5F5F5;
}

h1 {
    font-family: "Arial", serif;
    text-align: center;
    color: #453D8B;
}

h3 {
    font-family: Arial, serif;
    text-align: left;
    color: #778899;
}

p {
    font-family: Arial, serif;
}

span {
    font-family: Arial, serif;
    font-size: small;
}