* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttf') format('truetype');
    font-weight: bold;
    font-style: oblique;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    letter-spacing: 2px;
}

#combinations {
    font-size: 28px;
}